body{
    background-image: url("https://img.freepik.com/free-photo/lavender-field-sunset-near-valensole_268835-3910.jpg?semt=ais_user_personalization&w=740&q=80");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.box{
    width: 300px;
    height: 300px;
    background-image: url('https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630');
    background-size: cover;
    background-position: center;
}